# ==========================================
# Environment Configuration
# ==========================================
NODE_ENV=development

# ==========================================
# Database Configuration (PostgreSQL)
# ==========================================
# نستخدم 5433 لأنك قمت بتوجيه البورت في docker-compose إلى هذا الرقم على جهازك
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=parallel_programming

# ==========================================
# Redis Configuration (Cache & Locks)
# ==========================================
# نستخدم 6380 لأنك قمت بتوجيه البورت في docker-compose إلى 6380:6379
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=
# قاعدة البيانات رقم 0 مخصصة للكاش والأقفال (Cache & Lock)
REDIS_DB=0

# ==========================================
# BullMQ Configuration (Queues)
# ==========================================
# قاعدة البيانات رقم 1 مخصصة للطوابير لضمان عدم التداخل مع الكاش
REDIS_QUEUE_DB=1